button{
  transition: all .6s ease;
}

table {
  border-collapse: collapse;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
  td:nth-child(n+2):nth-last-child(n+2) {
      border-left: 1px solid #262626;
      border-right: 1px  solid #262626;
}

/* Estilos para la barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

  /* Estilos para el thumb (la "manija" de la barra de desplazamiento) */
::-webkit-scrollbar-thumb {
    background-color: #024B8E; /* Color de fondo del thumb */
}

  /* Estilos para el track (el "fondo" de la barra de desplazami  ento) */
::-webkit-scrollbar-track {
    background-color: #262626; /* Color de fondo del track */
}



/* SWEETALERT2 */
.swal2-popup {
  background-color: #1B1315;
  color: #FAA300;
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.swal-toast{
  background-color: #1B1315;
  color: #FAA300;
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.swal2-title {
  font-weight: 800; /* Agrega el grosor de letra (bold) al título */
}

.bold-text {
  font-weight: 500;
}

.bold-text600 {
  font-weight: 600;
}

.bold-confirm {
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #BAC2C9;
}

.bold-confirm-register {
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #094e0b;
}

.bold-confirm-register-salida {
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #084144;
}

.bold-confirm-exit {
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #510303;
}

.bold-confirm-info {
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #FAA300;
}

.bold-cancel {
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  color: #262626;
}

  .azulClaro{
    color: #149da7;
  }

  .verdeClaro{
    color: #4CAF50;
  }

  .rojoClaro{
    color: #D92D2D;
  }

.swal2-footer {
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #1B1315;
  color: #FAA300;
  padding: 15px;
  text-align: center;
  border-top: 1px solid #1B1315;
  font-weight: 800;
  font-size: large;
  margin: 20px 60px 0 60px;
  border-radius: 5px;
}

/* Botones */
.delete {
  background-color: #063763;
  color: #74aee5;
  font-weight: 700;
}

.delete:hover{
  background-color: #74aee5;
  color: #063763;
  font-weight: 1000;
}

.not-allowed{
  cursor: not-allowed;
}

.brillar {
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: colorChange 1.2s infinite;
    background: linear-gradient(90deg, #063763, #74aee5); /* Fondo degradado */
    -webkit-background-clip: text; /* Clip degradado al texto */
    background-clip: text ;
    color: transparent; /* Texto transparente */
    background-size: 200% 100%; /* Tamaño inicial del fondo degradado */
    background-position: 100% 0; /* Posición inicial del fondo degradado */
  }

@keyframes colorChange {
  0% {
    background-position: 100% 0; /* Inicio del degradado al principio del texto */
  }
  100% {
    background-position: -100% 0; /* Fin del degradado al final del texto */
    /* opacity: .8; */
  }
}

/* BOTON PERSONALIZADO */
.b-ma{
  display: flex;
  justify-content: end;
  width: 95%;
  height: 100%;
  background-color: #262626;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #BAC2C9;
  cursor: pointer; 
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .9em;
  border-radius: 8px 40px 8px 50px;
  padding: 0.8em 1.4em;
  font-weight: 800;
  border: none;
  text-transform: uppercase;
}

.b-ma-disabled{
  background-color: #4c4c4c;
  display: flex;
  justify-content: end;
  width: 95%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #353434;
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: .9em;
  border-radius: 8px 40px 8px 50px;
  padding: 0.8em 1.4em;
  font-weight: 800;
  border: none;
  text-transform: uppercase;
}

.fondo-boton-disabled{
  background-color: #353535;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  transition: background-color .6s;
}

.fondo-boton{
  display: flex;
  justify-content: center;
  background-color: #149da7;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  transition: background-color .6s;
}

.fondo-boton:hover .b-ma {
  background-color: #149da7;
  color: #262626;  
  width: 85%;
  font-weight: 1000;
}

.fondo-boton:hover{
  background-color: #262626;
}

/* FIN DE BOTON PERSONALIZADO */

.waiting_info{
  display: flex;
  background-color: #FAA300;
  background: linear-gradient(to bottom, #FFA500, #efba0e);
  width: 50%;
  font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1em;
  font-weight: 1000;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  align-self: flex-end;
  align-items: center;
  padding: .35em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: all .4s ease;
}

.wi-none{
  padding: 0em;
  transition: all .4s ease;
}