.prs3-main{
    background: linear-gradient(180deg, #A7EEF3 0%, rgba(167, 238, 243, 0.33) 100%);
    background-color: #0E6065;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 100%;
    padding: 5em 7em;
    margin-top: 0;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prs3-second-part{
    /* background-color: #e900fa; */
    width: 100%;
    min-width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 32em;
}

.prs3-right{
    /* background-color:yellowgreen; */
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 32em;
    text-align: center;
}

.prs3-left{
    /* background-color: #f4d289; */
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 32em;
    text-align: center;
}

.prs3-title2{
    background-color: #FAA300;
    background: linear-gradient(to bottom, #FFA500, #efba0e);
    width: 100%;
    height: 10%;
    padding: .35em;
    font-weight: 700;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.prs3-subtitle2{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    color: #FCFAF9;
    width: 100%;
    height: 15%;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 1.5em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prs3-subtitle3{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    color: #FCFAF9;
    width: 100%;
    height: 40%;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-align: left;
    overflow-y: auto;
    padding: 6% 8%;
    text-align:justify;
}

.prs3-subtitle4, .prs3-subtitle4-d{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    color: #FCFAF9;
    width: 100%;
    height: 30%;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-align: left;
    overflow-y: none;
    text-align:justify;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prs3-subtitle4 > button{
    background-color: #262626;
    color: #FAA300;
    cursor: pointer; 
    font-weight: 1000;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8em;
    padding: 0.8em 1.6em; 
    border: none;
    text-transform: uppercase;
    height: 50%;
    width: 50%;
}

.prs3-subtitle4-d > button{
    background-color: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #BAC2C9;
    cursor: pointer; 
    font-weight: 1000;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .8em;
    padding: 0.8em 1.6em; 
    border: none;
    text-transform: uppercase;
    height: 50%;
    width: 50%;
    cursor: not-allowed;
}

.prs3-ul {
    list-style: none;
    counter-reset: my-counter;
    font-weight: 700;
}
    .prs3-ul > li {
        counter-increment: counter1 1 counter2 2;
    }
    .prs3-ul > li::before {
        content: counter(counter1) ". ";
        margin-right: 5px;
    }

.prs3-title-first{
    background: linear-gradient(180deg, #FAA300 0%, rgba(250, 163, 0, 0.75) 100%, rgba(250, 163, 0, 0.75) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-transform: uppercase;
}

.prs3-title-second{
    background: linear-gradient(180deg, #FAA300 0%, rgba(250, 163, 0, 0.75) 100%, rgba(250, 163, 0, 0.75) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-align: center;
    text-transform: uppercase;
}

.prs3-subtitle-second{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFAF9;
    height: 4em;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
}

.prs3-bottons{
    /* background-color: gray; */
    text-align: right;
    text-transform: lowercase;
    text-overflow: clip;
    height: 60%;
    width: 100%;
    position: relative;
}

.prs3-botton{
    background-color: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FAA300;
    cursor: pointer; 
    font-weight: 800;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    border-radius: 5px; 
    border: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30%;
}

.prs3-botton2{
    background-color: #197D84;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCD9D9;
    cursor: pointer; 
    font-weight: 800;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    border-radius: 5px; 
    border: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30%;
}

.prs3_b-disabled{
    background-color: #4b4b4b;
    box-shadow: 0px 4px 4px rgba(89, 86, 86, 0.25);
    color: #878080;
    cursor: not-allowed; 
    font-weight: 800;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    border-radius: 5px; 
    border: none;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 30%;
}

/* SECCION HOVER */
.prs3-botton:hover, .prs3-subtitle4 > button:hover{
    background-color: #FAA300;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

.prs3-subtitle4-d > button:hover{
    background-color: #aaa;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

.prs3-botton2:hover{
    background-color: #FCD9D9;
    color: #197D84;  
    transition: all 1s ease;
    font-weight: 1000;
}

.prs3-subtitle-second:hover {
    /* background-color: #FAA300; */
    color: #FAA300;  
    transition: all .4s ease;
    font-weight: 800;
}

.prs3-p{
    font-size: 1.25em;
    font-weight: 800;
}

.prs3_b-disabled:hover{
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
    background-color: #aaa;
}

/* SECCION RESPONSIVA */
@media only screen and (max-width: 1180px) {
    .prs3-main{
        font-size: .7em;
    }
    .prs3-right, .prs3-left{
        margin-top: -30px;
    }
}

@media (max-width: 900px) {
    .prs3-main{
        font-size: 0.5em;
    }
    .prs3-right, .prs3-left{
        margin-top: -30px;
    }
}

@media (max-width: 700px) {
    .prs3-main{
        font-size: .4em;
    }
    .prs3-right, .prs3-left{
        margin-top: -55px;
    }
}
