.main{
    background:linear-gradient(180deg, #A0D0FB 0%, rgba(28, 95, 156, 0.33) 100%);
    background-color: #1C5F9C;;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 100%;
    padding: 5em 7em;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .second-part {
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Aquí ajusta el tamaño mínimo y máximo */
        grid-gap: 20px; /* Espacio entre las cards */
        justify-items: center; /* Centra horizontalmente las cards en el grid */
        align-content: flex-start; /* Alinea las cards en la parte superior */
    }
        

        .container-card{
            width: 100%;
            height: 100%;
            background-color: transparent;
            margin: 0;
        }

            .item-title{
                display: flex;
                justify-content: center;
                align-items: center;
                padding-inline: 20px;
                background-color: #FAA300;
                background: linear-gradient(to bottom, #FFA500, #efba0e);
                width: 100%;
                min-height: 50px;
                font-weight: 800;
                font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: larger;
                border-radius: 8px 8px 0 0;
            }

            .subtitlePR{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-inline: 20px;
                background-color: transparent;
                background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
                color: #FCFAF9;
                width: 100%;
                min-height: 100px;
                font-weight: 600;
                font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: medium;
            }

            .subtitlePR-exit{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding-inline: 20px;
                background-color: transparent;
                background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
                color: #FCFAF9;
                width: 100%;
                min-height: 100px;
                font-weight: 600;
                font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: medium;
            }

                .botton-subtitle{
                    background-color: #328e35;
                    border-radius: 0 0 8px 8px;
                }

                .botton-subtitle-exit{
                    background-color: #bf2323;
                    border-radius: 0 0 8px 8px;
                }

                    .botton-sub{
                        position: relative;
                        width: 90%;
                        height: 50px;
                        border-radius: 0 30px 8px 50px; 
                        color: #fff;  
                        background-color: #4CAF50; 
                        border: none; 
                        cursor: pointer; 
                        font-weight: 800;
                        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: larger;
                    }

                    .bs-exit {
                        position: relative;
                        width: 90%;
                        height: 50px;
                        border-radius: 0 30px 8px 50px; 
                        background-color: #D92D2D; 
                        color: #262626; 
                        border: none; 
                        cursor: pointer; 
                        font-weight: 800;
                        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-size: larger;
                    }

/* SECCION HOVER */
.botton-subtitle:hover .botton-sub{
    color: #4CAF50;  
    background-color: #262626;
    transition: all .5s ease;
    font-weight: 900;
}

.botton-subtitle-exit:hover .bs-exit {
    background-color: #262626; 
    color: #D92D2D; 
    transition: all .5s ease;
    font-weight: 900;
}

/* SECCION RESPONSIVA */
@media only screen and (max-width: 1200px) {
    .main{
        padding: 4em 4em;
        transition: all 1s ease;
    }
}

