.prs1_1-main{
    background:linear-gradient(180deg, #A0D0FB 0%, rgba(28, 95, 156, 0.33) 100%);
    background-color: #1C5F9C;;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 100%;
    padding: 5em 7em;
    margin-top: 0;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prs1_1-square{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);;
    justify-content: center;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}

    .prs1_1-square-title{
        display: flex;
        min-height: 60px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #FAA300;
        background: linear-gradient(to bottom, #FFA500, #efba0e);
        color: #262626;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1.5em;
    }


    .prs1_1-comment-input{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-inline: 20px;
        gap: 20px;
        background-color: #262626;
        background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FCFAF9;
        cursor: pointer; 
        font-weight: 800;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        border: none;
        text-transform: uppercase;
        width: 100%;
        text-overflow: ellipsis; /* Muestra "..." cuando el texto se corta */
    }

    .prs1_1-comment-input:focus{
        outline: none;
    }

    .prs1_1-bottons{
        display: flex;
        margin-top: 20px;
        gap: 20px;
        justify-content: right;
        align-items: end;
    }

        .prs1_1-botton{
            width: 50%;
            height: 100%;
            background-color: #262626;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            color: #FAA300;
            cursor: pointer; 
            font-weight: 600;
            font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: .81em;
            border-radius: 5px; 
            padding: 0.8em 1.6em; 
            border: none;
            text-transform: uppercase;
        }

/* SECCION HOVER */
.prs1_1-botton:hover {
    background-color: #FAA300;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

/* SECCION RESPONSIVA */
@media only screen and (max-width: 1200px) {
    .main{
        padding: 4em 4em;
        transition: all 1s ease;
    }
    .prs1_1-square{
        padding: 1em 0; 
    }
}

