.prs1-main{
    background:linear-gradient(180deg, #A0D0FB 0%, rgba(28, 95, 156, 0.33) 100%);
    background-color: #1C5F9C;;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 100%;
    padding: 5em 7em;
    margin-top: 0;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prs1-searcher{
    background-color: transparent;
    width: 100%;
    min-width: 385px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    justify-content: space-between;
}

.prs1-first-s{
    width: 65%;
    min-width: 65%;
    text-align: center;
}

.prs1-second-s{
    width: 30%;
    min-width: 30%;
}

.prs1-title-first{
    background-color: #FAA300;
    background: linear-gradient(to bottom, #FFA500, #efba0e);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-transform: uppercase;
}

.prs1-title-second{
    background-color: #FAA300;
    background: linear-gradient(to bottom, #FFA500, #efba0e);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-align: center;
    text-transform: uppercase;
}

.prs1-searcher-input{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFAF9;
    width: 100%;
    border: none;
    height: 4em;
    padding: 0 2em;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1em;
}

.prs1-searcher-input:focus{
    outline: none;
}

.prs1-subtitle-second{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFAF9;
    height: 4em;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
}

.prs1-bottons{
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 50%;
    margin-top: 20px;
    gap: 20px;
}

    .prs1-botton{
        width: 100%;
        height: 100%;
        background-color: #262626;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FAA300;
        cursor: pointer; 
        font-weight: 600;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: .81em;
        border-radius: 5px; 
        padding: 0.8em 1.6em; 
        border: none;
        text-transform: uppercase;
}

    .prs1-b-ma{
        height: 100%;
        background-color: #262626;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #BAC2C9;
        cursor: pointer; 
        font-weight: 600;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: .9em;
        border-radius: 5px; 
        padding: 0.6em 1.4em; 
        border: none;
        margin: .2em;
        text-transform: uppercase;
        text-align: center;
    }

/* SECCION DE LA TABLA */
#prs1-tabla-all{
    background: linear-gradient(to bottom, #063763, #0c559a);
    margin-bottom: 1.5%;
    border-collapse: collapse;
    height: 27.8em;
    overflow-y: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prs1-no-datos{
    background-color: #262626;
    color: #FCFAF9;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    min-height: 27.8em;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#prs1-table-headboard{
    /* background: linear-gradient(180deg, #FAA300 0%, rgba(250, 163, 0, 0.75) 100%, rgba(250, 163, 0, 0.75) 100%); */
    background-color: #FAA300;
    background: linear-gradient(to bottom, #FFA500, #efba0e);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    width: 100%;
    text-transform: uppercase;
}

#prs2-tr{
    text-transform: uppercase;
}

#prs1-th, #prs1-table-headboard {
    position: sticky;
}
  
    #prs1-table-headboard {
        top: 0;
        z-index: 2;
    }
    
    #prs1-th {
        top: 0;
        z-index: 1;
    }

    .prs1-th-1{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }

    .prs1-th-2{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 35%;
    }
    .prs1-th-3{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }
    .prs1-th-4{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 10%;
    }
    .prs1-th-5{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 12%;
    }
    .prs1-th-6{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 16%;
    }
    .prs1-th-7{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 16%;
    }

.prs1-tr-body:nth-child(even){
    background-color: #074073;
    color: #FCFAF9;
    text-align: center;

}

.prs1-tr-body:nth-child(odd){
    background-color: #1C5F9C;
    color: #FCFAF9;
    text-align: center;

}

.prs1-td{
    font-weight: 600;
    font-size: .9em;
    padding: .5em;
}

/* SECCION HOVER */
.prs1-botton:hover {
    background-color: #FAA300;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

.prs1-subtitle-second:hover {
    /* background-color: #FAA300; */
    color: #FAA300;  
    transition: all .4s ease;
    font-weight: 800;
}

.prs1-b-ma:hover {
    background-color: #BAC2C9;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

/* SECCION RESPONSIVA */
@media only screen and (max-width: 1120px) {
    .prs1-main{
        transition: all 1s ease;
        font-size: .8em;
    }
    #prs1-tabla-all{
        margin-bottom: 3%;
    }
    .prs1-searcher{
        margin-top: -10px;
    }
}

@media (max-width: 900px) {
    .prs1-main{
        font-size: 0.6em;
    }
    .prs1-searcher{
        margin-top: -20px;
    }

}

@media (max-width: 750px) {
    .prs1-searcher{
        margin-top: -30px;
    }
}

@media (max-width: 600px) {
    .prs1-main{
        font-size: .5em;
    }
    .prs1-searcher{
        margin-top: -40px;
    }
    .prs1-botton{
        font-size: 1em;
    }
}





