.prs2-main{
    background:linear-gradient(180deg, #A0D0FB 0%, rgba(28, 95, 156, 0.33) 100%);
    background-color: #1C5F9C;;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 100%;
    padding: 5em 7em;
    margin-top: 0;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}

.prs2-searcher{
    /* background-color: rgb(163, 71, 255); */
    background-color: transparent;
    width: 100%;
    min-width: 385px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    justify-content: space-between;
}

.prs2-first-s{
    /* background-color: tomato; */
    width: 65%;
    min-width: 65%;
    text-align: center;
}

.prs2-second-s{
    /* background-color: darkseagreen; */
    width: 30%;
    min-width: 30%;
}

.prs2-title-first{
    background-color: #FAA300;
    background: linear-gradient(to bottom, #FFA500, #efba0e);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-transform: uppercase;
}

.prs2-title-second{
    background-color: #FAA300;
    background: linear-gradient(to bottom, #FFA500, #efba0e);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-align: center;
    text-transform: uppercase;
}

.prs2-searcher-input{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFAF9;
    width: 100%;
    border: none;
    height: 4em;
    padding: 0 2em;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1em;
}

.prs2-searcher-input:focus{
    outline: none;
}

.prs2-subtitle-second{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFAF9;
    height: 4em;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
}

.prs2-bottons{
    display: flex;
    justify-content: flex-end;
    padding-inline-start:30%;
    margin-top: 20px;
    gap: 20px;
}

.prs2-botton{
    width: 100%;
    height: 100%;
    background-color: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FAA300;
    cursor: pointer; 
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .81em;
    border-radius: 5px; 
    padding: 0.8em 1.6em; 
    border: none;
    text-transform: uppercase;
}

.bs-exit-s2 {
    background-color: #063763;
    color: #74aee5;
    font-weight: 700;
    /* background: linear-gradient(90deg, #0A42A5 0%, #000000 100%); */
}

.prs2_b-disabled{
    width: 100%;
    height: 100%;
    background-color: #262626;
    box-shadow: 0px 4px 4px rgba(89, 86, 86, 0.25);
    cursor: pointer; 
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .81em;
    border-radius: 5px; 
    padding: 0.8em 1.6em; 
    border: none;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff;
    /* pointer-events: none; */
    cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
    opacity: 0.7; /* Opacidad reducida cuando está deshabilitado */
}

.prs2-cb{
    display: flex;
    width: 100%;
    height: 100%;
    transform: scale(2);
}

.prs2-b-ma{
    background-color: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #BAC2C9;
    cursor: pointer; 
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9em;
    border-radius: 5px; 
    padding: 0.6em 1.4em; 
    border: none;
    margin: .2em;
    text-transform: uppercase;
}

/* SECCION DE LA TABLA */
#prs2-tabla-all{
    background: linear-gradient(to bottom, #063763, #0c559a);
    width: 100%;
    margin-bottom: 1.5%;
    border-collapse: collapse;
    min-height: 27.8em;
    overflow-y: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prs2-no-datos{
    background-color: #262626;
    color: #FCFAF9;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    min-height: 27.8em;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

#prs2-table-headboard{
    background-color: #FAA300;
    background: linear-gradient(to bottom, #FFA500, #efba0e);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    width: 100%;
    text-transform: uppercase;
    /* max-width: 1200px; */
    /* min-width: 90vh; */
}

#prs2-tabla-all{
    width: 100%;
}

#prs2-tr{
    text-transform: uppercase;
    width: 100%;
}   

#prs2-th, #prs2-table-headboard {
    position: sticky;
    width: 100%;
}
  
    #prs2-table-headboard {
        top: 0;
        z-index: 2;
    }
    
    #prs2-th {
        top: 0; 
        z-index: 1;
    }

    .prs2-th-1{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }

    .prs2-th-2{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 35%;
    }
    .prs2-th-3{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }
    .prs2-th-4{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 25%;
    }
    .prs2-th-5{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 10%;
    }
    .prs2-th-6{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 10%;
    }
    .prs2-th-7{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }
    .prs2-th-8{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }

.prs2-tr-body:nth-child(even){
    background-color: #074073;
    color: #FCFAF9;
    text-align: center;

}

.prs2-tr-body:nth-child(odd){
    background-color: #1C5F9C;
    color: #FCFAF9;
    text-align: center;

}

.prs2-td{
    font-weight: 600;
    font-size: .9em;
    padding: .5em;
}

/* SECCION HOVER */
.prs2-botton:hover {
    background-color: #FAA300;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

.bs-exit-s2:hover{
    background-color: #74aee5;
    color: #063763;
    font-weight: 1000;
}

.prs2-subtitle-second:hover {
    /* background-color: #FAA300; */
    color: #FAA300;  
    transition: all .4s ease;
    font-weight: 800;
}

.prs2-b-ma:hover {
    background-color: #BAC2C9;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

.prs2_b-disabled:hover{
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
    background-color: #aaa;
}

/* SECCION RESPONSIVA */
@media only screen and (max-width: 1120px) {
    .prs2-main{
        transition: all 1s ease;
        font-size: .8em;
    }
    #prs2-tabla-all{
        margin-bottom: 3%;
    }
    .prs2-searcher{
        margin-top: -10px;
    }
}

@media (max-width: 900px) {
    .prs2-main{
        font-size: 0.6em;
    }
    .prs2-searcher{
        margin-top: -20px;
    }
    .prs2-cb{
        transform: scale(1.5);
        transition: transform 1s ease;
    }
}

@media (max-width: 750px) {
    .prs2-searcher{
        margin-top: -30px;
    }
    .prs2-bottons{
        padding-inline: 0;
    }
    .prs2-cb{
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .prs2-main{
        font-size: .5em;
    }
    .prs2-searcher{
        margin-top: -40px;
    }
    .prs2-botton{
        font-size: 1em;
    }
}





