table {
    border-collapse: collapse;
}
    td {
        border-left: 1px solid #262626;
        border-right: 1px solid #262626;
}

.prs3-main{
    font-size: 16px;
    background: linear-gradient(180deg, #A7EEF3 0%, rgba(167, 238, 243, 0.33) 100%);
    background-color: transparent;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 100vh;
    padding: 10vh 18vh;
    margin-top: 0;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prs3-first-part{
    /* background-color: #e900fa; */
    width: 100%;
    min-width: 60vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 100px;
}

.prs3-second-part{
    /* background-color: #e900fa; */
    width: 100%;
    min-width: 60vh;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    flex-wrap: wrap;
    justify-content: space-between;
    height: 32em;
    /* height: 100px; */
}

.prs3-right{
    background-color:yellowgreen;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 32em;
    text-align: center;
}

.prs3-left{
    background-color: #f4d289;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 32em;
    text-align: center;
}

.prs3-title{
    /* background-color: red; */
    width: 60%;
    height: 50px;
    padding: 0;
    font-weight: 700;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
}

.prs3-title2{
    background: linear-gradient(180deg, #FAA300 0%, rgba(250, 163, 0, 0.75) 100%, rgba(250, 163, 0, 0.75) 100%);
    width: 100%;
    height: 10%;
    padding: .35em;
    font-weight: 700;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.prs3-date{
    background-color: #FAA300;
    width: 40%;
    height: 3em;
    padding: .75em;
    font-weight: 700;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.13em;
    text-align: right;
    border-radius: 8px;
}

.prs3-subtitle{
    /* background-color: green; */
    width: 50%;
    min-width: 235px;
    height: 50px;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    text-align: left;
}

.prs3-subtitle2{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    color: #FCFAF9;
    width: 100%;
    height: 15%;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-align: center;
    padding: 1.5em;
}

.prs3-subtitle3{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    color: #FCFAF9;
    width: 100%;
    height: 40%;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-align: left;
    overflow-y: auto;
    padding: 6% 8%;
    text-align:justify;
}

.prs3-subtitle4{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    color: #FCFAF9;
    width: 100%;
    height: 30%;
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
    text-align: left;
    overflow-y: auto;
    padding: 6% 8%;
    text-align:justify;
}

.prs3-searcher{
    /* background-color: rgb(163, 71, 255); */
    background-color: transparent;
    width: 100%;
    min-width: 385px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 50px;
    justify-content: space-between;
}

.prs3-ul {
    list-style: none;
    counter-reset: my-counter;
}
    .prs3-ul > li {
        counter-increment: counter1 1 counter2 2;
    }
    .prs3-ul > li::before {
        content: counter(counter1) ".- ";
        margin-right: 5px;
    }


.prs3-first-s{
    /* background-color: tomato; */
    width: 65%;
    min-width: 65%;
    text-align: center;
}

.prs3-second-s{
    /* background-color: darkseagreen; */
    width: 30%;
    min-width: 30%;
}

.prs3-title-first{
    background: linear-gradient(180deg, #FAA300 0%, rgba(250, 163, 0, 0.75) 100%, rgba(250, 163, 0, 0.75) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-transform: uppercase;
}

.prs3-title-second{
    background: linear-gradient(180deg, #FAA300 0%, rgba(250, 163, 0, 0.75) 100%, rgba(250, 163, 0, 0.75) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    text-align: center;
    text-transform: uppercase;
}

.prs3-searcher-input{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFAF9;
    width: 100%;
    border: none;
    height: 4em;
    padding: 0 2em;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    font-size: 1em;
}

.prs3-searcher-input:focus{
    outline: none;
}

.prs3-subtitle-second{
    background: linear-gradient(180deg, #262626 0%, rgba(38, 38, 38, 0.9) 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FCFAF9;
    height: 4em;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    font-size: 1em;
}

.prs3-bottons{
    /* background-color: gray; */
    text-align: right;
    text-transform: lowercase;
    text-overflow: clip;
    min-width: 400px;
}

.prs3-botton{
    margin-left: 2em;
    background-color: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FAA300;
    cursor: pointer; 
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .81em;
    border-radius: 5px; 
    padding: 0.8em 1.6em; 
    border: none;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.prs3-cb{
    transform: scale(1.5);
}

.prs3-b-ma{
    background-color: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #BAC2C9;
    cursor: pointer; 
    font-weight: 600;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .9em;
    border-radius: 5px; 
    padding: 0.6em 1.4em; 
    border: none;
    margin: .2em;
    text-transform: uppercase;
}

/* SECCION DE LA TABLA */
#prs3-tabla-all{
    width: 100%;
    margin-bottom: 1.5%;
    border-collapse: collapse;
    max-height: 25em;
    min-height: 25em;
    overflow-y: scroll;

}

#prs3-table-headboard{
    /* background: linear-gradient(180deg, #FAA300 0%, rgba(250, 163, 0, 0.75) 100%, rgba(250, 163, 0, 0.75) 100%); */
    background-color: #FAA300;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1px;
    text-align: center;
    font-weight: 700;
    font-size: 1.1em;
    padding: .5em;
    width: 100%;
    text-transform: uppercase;
    /* max-width: 1200px; */
    /* min-width: 90vh; */
}

#prs3-tr{
    text-transform: uppercase;
}   

#prs3-th, #prs3-table-headboard {
    position: sticky;
}
  
    #prs3-table-headboard {
        top: 0;
        z-index: 2;
    }
    
    #prs3-th {
        top: 2.3em;
        z-index: 1;
    }

    .prs3-th-1{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }

    .prs3-th-2{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 35%;
    }
    .prs3-th-3{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 5%;
    }
    .prs3-th-4{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 25%;
    }
    .prs3-th-5{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 10%;
    }
    .prs3-th-6{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 10%;
    }
    .prs3-th-7{
        background-color: #262626;
        color: #FCFAF9;
        padding: .5em;
        width: 10%;
    }

.prs3-tr-body:nth-child(even){
    background-color: #074073;
    color: #FCFAF9;
    text-align: center;

}

.prs3-tr-body:nth-child(odd){
    background-color: #1C5F9C;
    color: #FCFAF9;
    text-align: center;

}

.prs3-td{
    font-weight: 600;
    font-size: .9em;
    padding: .5em;
}

/* SECCION HOVER */
.prs3-botton:hover {
    background-color: #FAA300;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

.prs3-subtitle-second:hover {
    /* background-color: #FAA300; */
    color: #FAA300;  
    transition: all .4s ease;
    font-weight: 800;
}

.prs3-b-ma:hover {
    background-color: #BAC2C9;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

/* SECCION RESPONSIVA */
@media only screen and (max-width: 1120px) {
    .prs3-main{
        max-width: 100%;
        background-color: #f4d289;
        transition: all 1s ease;
        font-size: .8em;
    }
    #prs3-tabla-all{
        margin-bottom: 3%;
    }

    .prs3-botton{
        text-align: right;
    }
}

@media (max-width: 900px) {
    .prs3-main{
        font-size: 0.6em;
    }
    .prs3-cb{
        transform: scale(1.2);
    }
}

@media (max-width: 600px) {
    .prs3-main{
        max-width: 600px;
        background-color: #875F08;
        transition: all 1s ease;
        padding: 7vh 9vh;
        font-size: .5em;
    }

    .prs3-date{
        height: 25px;
    }
    .prs3-cb{
        transform: scale(1);
    }
}

@media (max-width: 500px) {
    .prs3-main{
        font-size: .4em;
    }
}


@media (min-width: 600px){
    .prs3-main{
        background-color: #0E6065;
        transition: all 1s ease;
    }
}
    
@media only screen and (max-height: 600px) {
    .prs3-main {
        padding: 10vh 9vh;
        font-size: .45em;
    }
}

@media only screen and (max-height: 340px) {
    .prs3-main {
        padding: 15vh 9vh;
    }
}

@media only screen and (max-height: 200px) {
    .prs3-main {
        padding: 20vh 9vh;
    }
}


@media only screen and (max-height: 150px) {
    .prs3-main {
        padding: 30vh 9vh;
    }
}

@media only screen and (max-height: 100px) {
    .prs3-main {
        padding: 40vh 9vh;
    }
}