.prs2_1-main{
    background:linear-gradient(180deg, #A0D0FB 0%, rgba(28, 95, 156, 0.33) 100%);
    background-color: #1C5F9C;;
    width: 100%;
    min-width: 500px;
    height: 100%;
    min-height: 100%;
    padding: 5em 7em;
    margin-top: 0;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.prs2_1-second-part{
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    text-transform: uppercase;
    font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

    .prs2_1-nombre-usu{
        min-height: 20px;
        background-color: #FAA300;
        background: linear-gradient(to bottom, #FFA500, #efba0e);
        color: #262626;
        grid-area: 1 / 2 / 2 / 5;
    }

    .prs2_1_p{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        font-weight: 800;
        padding-inline: 1em;
    }

    .prs2_1-mostrar-nombre{
        background-color: #262626;
        color: #FCFAF9;
        cursor: pointer; 
        font-weight: 600;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        text-align: center;
        border: none;
        text-transform: uppercase;
        width: 100%;
        outline: none;
        grid-area: 2 / 2 / 3 / 5;
        text-overflow: "ellipsis"; 
    }   

    .prs2_1-anadir-cosas-usu{
        color: #FCFAF9;
        cursor: pointer; 
        font-weight: 600;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 1em;
        text-align: center;
        border: none;
        text-transform: uppercase;
        width: 100%;
        outline: none;
        grid-area: 3 / 2 / 6 / 5;
        display: grid;
        gap: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }   

        .prs2_1-asis-tot{
            background-color: #FAA300;
            background: linear-gradient(to bottom, #FFA500, #efba0e);
            border-inline: 10px;
            color: #262626;
            grid-area: 1 / 1 / 2 / 2;
        }

        .prs2_1-asis-anadir{
            background-color: #FAA300;
            background: linear-gradient(to bottom, #FFA500, #efba0e);
            border-inline: 10px;
            color: #262626;
            grid-area: 1 / 2 / 2 / 3;
        }

        .prs2_1-min-anadir{
            background-color: #FAA300;
            background: linear-gradient(to bottom, #FFA500, #efba0e);
            border-inline: 10px;
            color: #262626;
            grid-area: 1 / 3 / 2 / 4;
        }
        
        .prs_2_1_i{
            background-color: #262626;
            color: #FCFAF9;
            cursor: pointer; 
            font-weight: 700;
            font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: .8em;
            text-align: center;
            border: none;
            text-transform: uppercase;
            width: 100%;
            outline: none;
        }

        .notallowed{
            cursor: not-allowed;
        }
        

.prs2_1-bottons{
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding-inline-start: 20%;
    margin-top: 20px;
    gap: 20px;
    grid-area: 6 / 2 / 7 / 5;
}

    .prs2_1-botton{
        height: 75%;
        width: 100%;
        background-color: #262626;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        color: #FAA300;
        cursor: pointer; 
        font-weight: 600;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: .81em;
        border-radius: 5px; 
        padding-inline: 5px;
        border: none;
        text-transform: uppercase;
    }

    .prs2_1_b-disabled{
        height: 75%;
        width: 100%;
        background-color: #262626;
        box-shadow: 0px 4px 4px rgba(89, 86, 86, 0.25);
        cursor: pointer; 
        font-weight: 600;
        font-family: 'Inter', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: .81em;
        border-radius: 5px; 
        padding-inline: 5px;
        border: none;
        text-transform: uppercase;
        color: #fff;
        /* pointer-events: none; */
        cursor: not-allowed; /* Cambia el cursor cuando está deshabilitado */
        opacity: 0.7; /* Opacidad reducida cuando está deshabilitado */
    }

/* SECCION HOVER */
.prs2_1-botton:hover {
    background-color: #FAA300;
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
}

.prs2_1_b-disabled:hover{
    color: #262626;  
    transition: all .4s ease;
    font-weight: 1000;
    background-color: #aaa;
}

/* SECCION RESPONSIVA */
@media only screen and (max-width: 1180px) {
    .prs2_1-main{
        font-size: .7em;
    }
}

@media (max-width: 900px) {
    .prs2_1-main{
        font-size: 0.5em;
    }
    .prs2_1-bottons{
        padding-inline-start: 10%;
    }
    .prs2_1-second-part{
        margin-top: -20px;
    }
}

@media (max-width: 700px) {
    .prs2_1-main{
        font-size: .4em;
    }
    .prs2_1-bottons{
        padding-inline-start: 0;
    }
    .prs2_1_p{
        padding-inline: 0;
    }
    .prs2_1-second-part{
        margin-top: -50px;
    }
}
